* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
}
/*my header*/
header {
  display: grid;
  grid-template-columns: 5fr 0.5fr;
  background: linear-gradient(-45deg, #380944, #601473, #77148f, #490c58);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  align-items: center;
  justify-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.ChangeMyButton {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.simbol_icon {
  display: flex;
  flex-direction: row;
}
.simbol_icon h1 {
  font-family: "Inknut Antiqua";
  font-weight: 300;
  color: white;
  justify-content: center;
}
.infinity_icon {
  margin-top: 1rem;
}
/*Cards*/
.arrowImg {
  max-width: px;
  border-radius: 100%;
}

.locationSymbol {
  width: 15px;
}
.containerCard p {
  max-width: 400px;
  text-align: justify;
}
.containerCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.myImage {
  border-radius: 5px;
}
.myInfo {
  display: flex;
}
.myInfo img {
  margin-left: 1rem;
}
.myInfo p {
  font-weight: 800;
}
.myInfo h3 {
  font-weight: 800;
}
.myMainText {
  font-weight: 300;
}
.lightMode {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100%;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(45deg, #f2f2f2 50%, #e5e5f7 50%);
  background-size: 5px 5px;
}
.darkMode {
  color: white;
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100%;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  opacity: 0.9;
  background-image: linear-gradient(
    -45deg,
    #000000,
    #000000 50%,
    #20202a 50%,
    #20202a
  );
  background-size: 6px 6px;
}
.darkMode a p {
  color: #6d5bc5;
}

.contentDiv h1 {
  margin-bottom: 10px;
}
.myInfo {
  margin-bottom: 5px;
}
.myInfo h4 {
  letter-spacing: 1px;
}
.Intro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Intro h3 {
  max-width: 1000px;
  text-align: center;
  font-weight: 300;
}
.anotherReturn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*My footer*/
footer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  grid-template-columns: 5fr 0.5fr;
  background: linear-gradient(-45deg, #380944, #601473, #77148f, #490c58);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 7rem;
}
footer p {
  color: white;
  font-size: small;
  cursor: pointer;
  margin-top: 5px;
}

.containerFooter {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: #f2f2f2;
}

.containerRedes {
  padding-top: 15px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  gap: 2rem;
}
.contentDiv a {
  text-decoration: none;
  letter-spacing: 3px;
}
/*dark mode and white mode pag1*/

.lightMode2 {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 100%;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(45deg, #f2f2f2 50%, #e5e5f7 50%);
  background-size: 5px 5px;
}
.darkMode2 {
  color: white;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 100%;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  opacity: 0.9;
  background-image: linear-gradient(
    -45deg,
    #000000,
    #000000 50%,
    #20202a 50%,
    #20202a
  );
  background-size: 6px 6px;
}
.darkMode2 a p {
  color: #6d5bc5;
}
.containerIntro a {
  text-decoration: none;
  letter-spacing: 3px;
  padding: 5px;
}
.mytitleMagazine {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
.containerElement {
  display: flex;
  flex-direction: column;
}
.containerElement p {
  max-width: 855px;
  text-align: justify;
  font-weight: 300;
  line-height: 2em;
}
.containerElement ul {
  max-width: 855px;
  text-align: justify;
  font-weight: 300;
}
.containerElement h3 {
  margin-bottom: 1.1em;
}
ul li {
  list-style: circle;
  line-height: 2em;
}
.return {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.return p {
  margin-top: 2.5px;
}
.allMyReferences {
  display: flex;
  flex-direction: column;
}
.myPrefooter {
  margin-left: 29rem;
  text-align: justify;
  font-weight: 300;
}
.myReferences li {
  list-style: none;
}
.imgCard {
  max-width: 293px;
}
.newsImg {
  width: 855px;
}
.myListRef li {
  font-size: 10px;
}
#myTeam {
  display: grid;
  grid-template-columns: 30vmax 30vmax;
}
/*Card user*/
.worker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  gap: 5px;
}
.nameWorker {
  font-size: 1.5rem;
  font-weight: 600;
  color: #601473;
  gap: 5px;
}
.course {
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .newsImg {
    max-width: 500px;
  }
  .containerElement h3 {
    max-width: 500px;
  }
  .containerElement p {
    max-width: 500px;
  }
  .containerElement p {
    max-width: 500px;
    text-align: justify;
    font-weight: 300;
    line-height: 2em;
  }
  .containerElement ul {
    max-width: 500px;
    text-align: justify;
    font-weight: 300;
  }
  .allMyReferences {
    max-width: 280px;
    padding: 0%;
    margin-right: 100px;
  }
  .return {
    font-size: small;
  }
  header {
    width: 100vw;
  }
  .mytitleMagazine {
    font-size: 30px;
    padding: 10px;
  }
  .myListRef li {
    font-size: 10px;
  }
  .nameWorker {
    font-size: 1rem;
  }
  .nameWorker {
    font-size: 1rem;
    font-weight: 600;
    color: #601473;
    gap: 5px;
  }
  .arrowImg {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .nameWorker {
    font-size: 1rem;
  }
  .nameWorker {
    font-size: 1rem;
    font-weight: 600;
    color: #601473;
    gap: 5px;
  }
  .arrowImg {
    max-width: 200px;
  }
  #myTeam {
    display: flex;
    flex-direction: column;
  }
  .mytitleMagazine {
    font-size: 30px;
  }
  .imgCard {
    max-width: 130px;
  }
  .contentDiv h1 {
    font-size: 1.2rem;
  }
  .myMainText {
    font-size: 0.7rem;
  }

  .myInfo {
    font-size: 0.7rem;
  }
  .referenceLink {
    font-size: 0.8rem;
  }
  .containerCard {
    gap: 7px;
    padding: 5px;
  }

  .containerCard p {
    max-width: 250px;
  }
  .newsImg {
    max-width: 380px;
  }
  .mytitleMagazine {
    font-size: 20px;
  }
  .containerElement p {
    font-size: 0.8rem;
  }
  .containerElement p {
    max-width: 370px;
  }
  .containerElement li {
    max-width: 350px;
    font-size: 0.8rem;
  }
  .containerElement h3 {
    max-width: 350px;
  }

  .myreturn {
    display: flex;
  }
  .myPrefooter {
    text-align: justify;
    font-weight: 300;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  footer p {
    font-size: 0.5rem;
  }
}
